:root {
    --color-light-primary: #cbdcf6;
    --color-kakao: #fee404;
    --color-kakao-hover: #fadb03;
    --color-danger: #ff5c48;
}
.blind {
    display: none;
}
.btn {
    cursor: pointer;
}
.btn-icon-circle {
    &:hover {
        background: #f7f7f7;
    }
    border-radius: 9999px;
    padding: 1.2rem;
    position: relative;
    width: 40px;
    height: 40px;

    i,
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #666666;
    }
}
.abc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.profile-picture {
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    border-radius: 40%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &.lg {
        width: 50px;
        height: 50px;
    }
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
    nav {
        position: fixed;
        height: 100%;
        .tab-list {
            display: flex;
            flex-direction: column;
            background: #e6e6e6;
            height: 100%;
            flex-shrink: 0;
            li {
                color: #999999;
                padding: 1.25rem 1.75rem;
                cursor: pointer;
                &:first-child,
                &:last-child {
                    padding: 2.5rem 1.75rem;
                }
                &:hover {
                    color: #666666;
                }
                &.on {
                    color: #333333;
                }
            }
        }
    }

    main {
        padding-left: 55px;
        flex: 1;
        height: 100%;
        .tab-header {
            width: 100%;
            display: flex;
            padding: 1rem 1.5rem 0.5rem 1.5rem;
            justify-content: space-between;
            align-items: center;

            .title {
                font-weight: 600;
            }
            .toolbox {
                display: flex;
                gap: 0.5rem;
            }
        }
        .tab-body {
            hr {
                margin: 0.5rem 2rem;

                height: 1px;
                background: #e6e6e6;
                border: 0;
            }

            section {
                .section-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 3rem 0.5rem 2rem;
                    .section-title {
                        padding: 0.5rem 0;
                        font-size: 1.3rem;
                        color: #aeaeae;
                    }
                    .toolbox {
                        .btn-arrow {
                            padding: 0.5rem;
                            cursor: pointer;
                            .arrow {
                                border: 1px solid #aeaeae;
                                border-top: none;
                                border-left: none;
                                transform: rotate(45deg);
                                width: 8px;
                                height: 8px;
                            }
                            transition: transform 0.5s;
                            &.open {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }

                .section-body {
                    height: 0;
                    overflow: hidden;
                    &.open {
                        height: auto;
                    }
                }
            }

            .chatting-room-list {
                display: flex;
                flex-direction: column;
            }

            .row-user {
                display: flex;
                padding: 1rem 2rem;
                gap: 1rem;

                &:hover {
                    background: #f7f7f7;
                }

                .user-info {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    .nickname {
                        font-size: 1.4rem;
                        width: 100%;
                        font-weight: 300;
                    }
                    .desc {
                        color: #999999;
                        font-size: 1.2rem;
                        width: 100%;
                    }
                }
            }

            .row-chatting-room {
                display: flex;
                padding: 1rem 2rem;
                gap: 1rem;
                justify-content: space-between;

                &:hover {
                    background: #f7f7f7;
                }

                .chatting-room-info {
                    display: flex;
                    flex-grow: 1;
                    gap: 1rem;
                    align-items: center;

                    .chatting-room-data {
                        display: flex;
                        flex-direction: column;
                        .chatting-room-main-data {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            .chatting-room-title {
                                font-size: 1.4rem;
                                font-weight: 300;
                            }
                            .participant-cnt {
                                color: #888888;
                                font-size: 1.2rem;
                                font-weight: 300;
                            }
                        }

                        .recent-msg {
                            font-size: 1.3rem;
                            color: #999999;
                            font-weight: 300;
                        }
                    }
                }
                .chatting-room-meta-data {
                    width: 75px;
                    flex-shrink: 0;
                    font-size: 1.3rem;
                    display: flex;
                    flex-direction: column;
                    justify-content:center;
                    align-items: end;
                    gap: 0.2rem;

                    .recent-time {
                        font-size: 1.2rem;
                        color: #999999;
                    }
                    .unread-msg-cnt {
                        padding: 0.2rem 0.65rem;
                        background-color: var(--color-danger);
                        color: white;
                        border-radius: 100px;
                        display: inline;
                        font-size: 1rem;
                    }
                }

                .user-info {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    .nickname {
                        font-size: 1.4rem;
                        width: 100%;
                        font-weight: 300;
                    }
                    .desc {
                        color: #999999;
                        font-size: 1.2rem;
                        width: 100%;
                    }
                }
            }
        }
    }

    .user-detail-card {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 600px;
        padding-bottom: 3rem;
        box-shadow: 0 0 6px #00000052;
        transform: scale(0);
        transition: transform 0.15s;

        display: flex;
        gap: 2rem;
        flex-direction: column;
        max-width: 100%;
        max-height: 100%;
        justify-content: end;
        align-items: center;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 1.7rem;
        color: white;

        hr {
            height: 1px;
            border: 0;
            background: #e6e6e650;
            width: 100%;
        }
        .user-data {
            display: flex;
            flex-direction: column;
            align-items: center;

            .nickname {
                text-shadow: 0 0 3px #00000091;
                font-size: 1.6rem;
                font-weight: 700;
            }
            .desc {
                text-shadow: 0 0 3px #00000091;
                font-size: 1.2rem;
            }
        }
        .toolbox {
            display: flex;
            gap: 2.5rem;
            text-align: center;

            .btn {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .label {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

.chatting-room-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    max-width: 100%;
    height: 100%;
    background: white;
    box-shadow: 20px 0px 20px 20px #00000038;
    border-radius: 1rem 0 0 1rem;
    background-color: var(--color-light-primary);
    display: flex;
    flex-direction: column;
    transition: transform 0.4s;
    transform: translateX(100%);
    &.open {
        transform: translateX(0);
    }

    .chatting-room-header {
        display: flex;
        flex-shrink: 0;
        padding: 1.5rem 1rem 1rem 2rem;
        justify-content: space-between;
        background-color: var(--color-light-primary);

        .chatting-room-data {
            display: flex;
            gap: 1rem;
            align-items: center;

            .chatting-room-info {
                display: flex;
                flex-direction: column;
                gap: 0.3rem;

                .chatting-room-title {
                }
                .chatting-room-cnt {
                    display: flex;
                    gap: 0.5rem;
                    color: #555555;
                    .cnt {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .toolbox {
            display: flex;
            gap: 0.5rem;
        }
    }

    .chatting-room-body {
        flex-grow: 1;
        padding: 0 2rem;
        overflow: auto;
        .msg-group {
            margin-bottom: 1rem;
            display: flex;
            align-items: end;
            gap: 1rem;
            &.send {
                justify-content: end;
                .msg-wrap {
                    justify-content: end;
                }
                .msg-text {
                    background-color: var(--color-kakao);
                    order: 2;
                }
                .time {
                    order: 1;
                    text-align: right;
                }
            }
            &.receive {
                justify-content: start;
                .profile-picture {
                    align-self: start;
                }
                .msg-text {
                    background-color: white;
                }
            }
        }

        .msg-list {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding-top: 0.5rem;

            .msg-wrap {
                display: flex;
                align-items: end;
                gap: 0.5rem;

                &:last-child .time {
                    display: block;
                }
            }
            .msg-text {
                padding: 1rem 1rem 0.7rem 1rem;
                font-size: 1.4rem;
                border-radius: 0.4rem;
                width: fit-content;
                line-height: 1.5;
            }
        }

        .time {
            display: none;
            font-size: 1.2rem;
            color: #666666;
            width: 60px;
            flex-shrink: 0;
        }
    }

    .chatting-room-footer {
        background: white;
        padding: 1.2rem 1.5rem;
        flex-shrink: 0;

        textarea.ipt-chatting-msg {
            resize: none;
            width: 100%;
            border: none;
            outline: none;
            font-size: 1.3rem;
            margin-bottom: 0.5rem;
            font-weight: 300;
        }

        .toolbox {
            display: flex;
            justify-content: end;
            .btn-send {
                padding: 1rem 2rem;
                border-radius: 0.5rem;
                font-size: 1.3rem;
                background-color: var(--color-kakao);
                cursor: pointer;

                &:hover {
                    background-color: var(--color-kakao-hover);
                }
            }
        }
    }
}

@media screan and (max-width: 500px) {
}
